{
  "default": [
    {
	  "type": "reject"
	}
  ],
  "transports":
  {
    "docker-daemon":
	{
	  "": [{ "type":"insecureAcceptAnything" }]
	},
	"docker": {
      "{{ docker_registry_server }}": [
        {
          "type": "signedBy",
          "keyType": "GPGKeys",
          "keyPath": "/etc/pki/containers/{{ signer_key_pub }}"
        }
      ]
    }
  }
}  
